

<!--<app-navbar></app-navbar>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>-->
<h2 class="bg-danger text-center text-white">{{title1}}</h2>
<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 offset-md-3 mb-5">
      <app-user-name-form></app-user-name-form>
    </div>
    <div class="col-md-4">
      <app-user-name1></app-user-name1>
    </div>
    <div class="col-md-4">
      <app-user-name2></app-user-name2>
    </div>
    <div class="col-md-4">
      <app-user-name3></app-user-name3>
    </div>
  </div>
</div>

<h2 class="bg-primary text-center text-white">{{title2}}</h2>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 offset-md-3 mb-5">
      <app-student-form></app-student-form>
    </div>
    <div class="col-md-4">
      <app-student1></app-student1>
    </div>
    <div class="col-md-4">
      <app-student2></app-student2>
    </div>
    <div class="col-md-4">
      <app-student3></app-student3>
    </div>
  </div>
</div>

